.DS_Store
processing/__pycache__/plot_thermistor_data.cpython-312.pyc
processing/__pycache__/read_thermistor_data.cpython-312.pyc
products/figures/
processing/__pycache__/process_thermistor_data.cpython-312.pyc